
<h1 class="text-center mt-5 mb-3">Update Details</h1>
<div class="container w-25">
    <form action="/update" method="PUT">

        <div class="form-group px-0">
            <input type="text" name="name" class="form-control" placeholder="Name">
        </div>

        <div class="form-group px-0">
            <input type="text" name="description" class="form-control" placeholder="description">
        </div>

        <button type="submit" class="btn btn-danger btn-block">Update</button>
    </form>
</div>


</div>
