.App {
    text-align: center;
    background-color:green;
    }
    
    .label{
    display: block;
    color: black;
    padding: 5px;
    font-size: 16px;
    }
    
    .input{
    font-size: larger;
    padding: 5px;
    margin: 2px;
    margin-bottom: 20px;
    }
    .btn{
    color: white;
    background-color: red;
    border-radius: 5px;
    font-size: larger;
    display: block;
    padding: 5px;
    margin: 10px auto;
    cursor : pointer
    }
    
    .messages{
        width: 100%; 
        text-align: center;
    }
    
    .error{
    display: block;
    /* background-color: red; */
    font-size: 14px;
    font-weight: 100;
    color: red;
    /* width: fit-content; */
    height: 50px;
    padding: 5px;
    }
    
    .success{
        display: block;
        /* background-color: red; */
        font-size: 14px;
        font-weight: 100;
        color: green;
        /* width: fit-content; */
        height: 50px;
        padding: 5px;
    }
    .form{
        display:flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .mgbtm{
        padding: 30px 50px;
        padding-bottom: 25px;
    }
    .m2{
        display: flex;
       
        margin-bottom: 10%;
        margin-top: 10%;
        margin-left: 5%;
        order: 5;
    
    }
    .form1{
        display:flex;
        justify-content: center;
        align-items: center;
        height: 40%;
        padding: 100px;
        margin-top: 5%;
    }
    .m3{
margin-top: 10%;
    }
    .m4{
        padding: 30px ;
        display: flex;
        order: 10;
        justify-content: center;
    }
    